@font-face {
  font-family: "Fedra Mono";
  font-style: normal;
  src: url("./fonts/fedra-mono/FedraMonoBold.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "AntiqueOlive";
  src: url("./fonts/antique-olive/AQL.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("./fonts/tiempos-headline/TiemposHeadline-Bold.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/gotham/Gotham-Light.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Apercu";
  src: url("./fonts/apercu/Apercu-Medium.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Clearface Std";
  src: url("./fonts/clearface-std/ClearfaceStd-Black.otf"); /* IE9 Compat Modes */
}

.Cursor {
  cursor: url("./logos/Plane.svg");
}

.Body1 {
  cursor: url("./logos/Plane.svg");
  margin: -20px;
  padding: 20px;
  padding-bottom: 990px;
  font-family: "Fedra Mono";
  background-color: #b7dbd0;
}

.Body2 {
  cursor: url("./logos/Plane.svg");
  margin: -20px;
  padding: 20px;
  padding-bottom: 990px;
  font-family: "Tiempos Headline";
  background-color: black;
}

.Body3 {
  cursor: url("./logos/Logo1.png");
  margin: -20px;
  padding: 20px;
  padding-bottom: 990px;

  font-family: "Clearface Std";
  background-color: #2465f6;
}

.Body4 {
  margin: 0;
  padding: 0;
  font-family: "Fedra Mono";
  color: white;
  link-color: white;
  background-color: white;
}

.Image {
  height: 60vmin;
  pointer-events: none;
}

.NavigationBar1,
.NavigationBar2,
.NavigationBar3 {
  padding-right: 20px;
  font-family: "Fedra Mono";
  color: white;
  link-color: white;
  text-decoration: none;
}

.NavigationBar2 {
  color: #ffffc8;
  font-family: "Tiempos Headline";
}

.NavigationBar3 {
  color: black;
  font-family: "Clearface Std";
}

.NavigationBar1:hover {
  color: white;
  text-decoration: underline;
}

.NavigationBar2:hover {
  color: #dcdddd;
  text-decoration: underline;
}

.NavigationBar3:hover {
  color: #f3b2a5;
}

.NavigationBar1:focus,
.NavigationBar2:focus,
.NavigationBar3:focus {
  text-decoration: underline;
}

.Gatiway2,
.Gatiway1,
.Gatiway3 {
  margin-left: 65%;
}

.Gatiway2 {
  color: #ffffc8;
  font-size: 30px;
  font-family: "Tiempos Headline";
}
.Gatiway3 {
  font-family: "Clearface Std";
}

.ImageLink1,
.ImageLink2,
.ImageLink3 {
  padding-right: 50px;
  font-family: "Fedra Mono";
  color: white;
  link-color: white;
  text-decoration: none;
}

.ImageLink2 {
  padding-right: 0px;
  margin-left: -550px;
  font-family: "Gotham";
  color: #e19193;
}

.ImageLink3 {
  padding-right: 0px;
  margin-left: -550px;
  font-family: "Apercu";
  color: #f3b2a5;
}

.ImageLink1:focus {
  color: #bdb2d2;
  text-decoration: underline;
}

.ImageLink2:focus {
  color: #e1ffd3;
  text-decoration: underline;
}

.ImageLink3:focus {
  color: #f3b2a5;
  text-decoration: underline;
}

.ImageContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TextContainer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.custom-cur {
  cursor: url("/logos/Logo1.png");
}

.HomeRow {
  display: table;
}

.HomeColumn {
  margin-left: 1%;
  width: 25%;
}

.HomeImg {
  width: 40%;
}

.HomeContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ImageTitle1,
.ImageTitle2,
.ImageTitle3 {
  text-align: center;
  color: #caffd8;
  margin-top: 20px;
}

.ImageTitle2 {
  font-family: "Tiempos Headline";
  color: #caffd8;
}

.ImageTitle3 {
  font-family: "Clearface Std";
  color: #f3b2a5;
}

.ImageComment1 {
  font-size: 70%;
  font-family: "AntiqueOlive";
}

.ImageComment2 {
  font-size: 70%;
  font-family: "Gotham";
}

.ImageComment3 {
  font-size: 70%;
  font-family: "Apercu";
}

.Thumbnail {
  width: 5%;
  margin-top: 10px;
  margin-left: 10px;
}

.ThumbnailRow {
}

.MenuBarRow1 {
  width: 300px;
}

.MenuBarColumn1 {
  width: 300px;
}

.MenuBarContainer1 {
  width: 2000px;
}

.LogoImg {
  width: 20%;
  margin-left: 7%;
  margin-top: 7%;
}

.LogoImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.LogoPage {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.UploadInput {
  width: 200px;
  font-family: "AntiqueOlive";
  box-sizing: border-box;
  color: black;
  border: 2px solid white;
  border-radius: 4px;
  background-color: rgba(250, 250, 250, 0.4);
}

.UploadButton1 {
  font-family: "AntiqueOlive";
}
