@font-face {
  font-family: "Fedra Mono";
  font-style: normal;
  src: url("./fonts/fedra-mono/FedraMonoBold.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "AntiqueOlive";
  src: url("./fonts/antique-olive/AQL.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("./fonts/tiempos-headline/TiemposHeadline-Bold.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/gotham/Gotham-Light.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Apercu";
  src: url("./fonts/apercu/Apercu-Medium.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Clearface Std";
  src: url("./fonts/clearface-std/ClearfaceStd-Black.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Beatrice Display";
  src: url("./fonts/Beatrice_Display/OTF/BeatriceDisplay-Bold.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Frauen";
  src: url("./fonts/Frauen/ttf/Frauen-Roman.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Sharp sans";
  src: url("./fonts/Sharp_Sans/ttf/SharpSansDispNo2-Medium.ttf"); /* IE9 Compat Modes */
}

.Cursor {
  cursor: url("./logos/Plane.svg");
}

.Body1 {
  margin: -20px;
  padding: 20px;
  padding-bottom: 990px;
  font-family: "Fedra Mono";
  background-color: #b7dbd0;
}

.Body2 {
  cursor: url("./logos/Plane.svg");
  margin: -20px;
  padding: 20px;
  padding-bottom: 990px;
  font-family: "Tiempos Headline";
  background-color: black;
}

.Body3 {
  cursor: url("./logos/Logo1.png");
  margin: -20px;
  padding: 20px;
  padding-bottom: 990px;

  font-family: "Clearface Std";
  background-color: #2465f6;
}

.Body4 {
  margin: 0;
  padding: 0;
  font-family: "Fedra Mono";
  color: white;
  link-color: white;
  background-color: white;
}

.NavigationBar1,
.NavigationBar2,
.NavigationBar3,
.NavigationBar4 {
  padding-right: 20px;
  font-family: "Fedra Mono";
  color: white;
  link-color: white;
  text-decoration: none;
}

.NavigationBar2 {
  color: #ffffc8;
  font-family: "Tiempos Headline";
}

.NavigationBar3 {
  color: black;
  font-family: "Clearface Std";
}

.NavigationBar4 {
  color: black;
  text-decoration: none;
  font-family: "Sharp Sans";
}

.NavigationBar4:focus {
  text-decoration: underline;
}

.NavigationBar1:hover {
  color: white;
  text-decoration: underline;
}

.NavigationBar2:hover {
  background-color: rgb(170, 169, 169);
}

.NavigationBar3:hover {
  color: #f3b2a5;
}

.NavigationBar1:focus,
.NavigationBar3:focus {
  text-decoration: underline;
}

.NavigationBar2:focus {
  background-color: rgb(170, 169, 169);
}

.Gatiway1,
.Gatiway3 {
  margin-left: 65%;
}

.Gatiway2 {
  color: #ffffc8;
  font-size: 30px;
  font-family: "Tiempos Headline";
  align-items: center;
}

.Gatiway3 {
  font-size: 40px;
  margin-left: 25%;
  font-family: "Clearface Std";
}

.Gatiway4 {
  font-family: "Beatrice Display";
  color: black;
  font-size: 30px;
  text-align: right;
  margin-right: 20px;
}

.ImageLink1,
.ImageLink2,
.ImageLink3 {
  font-family: "Fedra Mono";
  color: white;
  link-color: white;
  text-decoration: none;
}

.ImageLink1 {
  padding: 10px;
}

.ImageLink2 {
  font-family: "Gotham";
  color: #e19193;
  text-decoration: none;
}

.ImageLink2:hover {
  background-color: white;
}

.ImageLink4 {
  font-family: "Beatrice Display";
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.ImageLink4:focus {
  text-decoration: underline;
}

.ImageLink3 {
  font-family: "Apercu";
  color: #f3b2a5;
  text-decoration: underline;
}

.ImageLink1:focus {
  color: #bdb2d2;
  text-decoration: underline;
}

.ImageLink2:focus {
  background-color: white;
}

.ImageLink3:focus {
  color: rgb(253, 253, 237);
  text-decoration: underline;
}

.ImageContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ImageColLeft {
  padding-left: 70%;
  font-size: 520%;
  text-decoration: none;
}

.ImageColRight {
  padding-right: 50%;
  font-size: 520%;
}

.ImageColLeft2 {
  padding-left: 70%;
  font-size: 52%;
}

.ImageColRight2 {
  padding-right: 50%;

  font-size: 52%;
}

.ImageTextCol {
  text-decoration: none;
  color: white;
}

.ImageTextCol2 {
}

.Image {
  height: 60vmin;
}

.Image2 {
  height: 60vmin;
  margin: 40px;
}

.ImageCol {
  align-items: center;
  justify-content: center;
}

.TextContainer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.custom-cur {
  cursor: url("/logos/Logo1.png");
}

.HomeRow {
  display: table;
}
.HomeRow5 {
  padding-top: 100px;
}

.HomeColumn {
  margin-left: 1%;
  width: 25%;
}

.HomeColumn5 {
  margin-left: 1%;
  width: 25%;
}

.HomeImg {
  width: 40%;
}

.transparentHover {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-20%, -50%);
  font-size: 50px;
  opacity: 0;
  color: white;
}
.transparentContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.transparentContainer:hover .transparentHover {
  visibility: visible;
  opacity: 1;
}
.transparentContainer:hover {
  filter: grayscale(100%);
}

.HomeImg4 {
  width: 90%;
}
.HomeImg4:hover {
  color: white;
}

.HomeContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ImageTitle1,
.ImageTitle2,
.ImageTitle3 {
  text-align: center;
  color: #caffd8;
  margin-top: 20px;
}

.ImageTitle2 {
  font-family: "Tiempos Headline";
  color: #caffd8;
}

.ImageTitle3 {
  font-family: "Clearface Std";
  color: #f3b2a5;
}

.ImageComment1 {
  font-size: 70%;
  font-family: "AntiqueOlive";
}

.ImageComment2 {
  font-size: 70%;
  font-family: "Gotham";
}

.ImageComment3 {
  font-size: 70%;
  font-family: "Apercu";
}

.ImageComment4 {
  font-size: 70%;
  font-family: "Sharp sans";
  color: black;
}

.Thumbnail {
  width: 25%;
  margin-top: 10px;
  margin-left: 10px;
}

.Thumbnail3 {
  width: 600%;
  margin-top: 4px;
  margin-left: 4px;
}

.Thumbnail5 {
  width: 100%;
}

.MenuBarRow1 {
  width: 300px;
}

.MenuBarColumn1 {
  width: 300px;
}

.MenuBarContainer1 {
  width: 2000px;
}

.LogoImg {
  width: 20%;
  margin-left: 7%;
  margin-top: 7%;
}

.LogoImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.LogoPage {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.UploadInput {
  width: 200px;
  font-family: "AntiqueOlive";
  box-sizing: border-box;
  color: black;
  border: 2px solid white;
  border-radius: 4px;
  background-color: rgba(250, 250, 250, 0.4);
}

.UploadButton1 {
  font-family: "AntiqueOlive";
}

.LeftMenuContainer {
  align-items: left;
  justify-content: left;
  text-align: left;
  margin-left: 20px;
}

.LeftMenuContainer2 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.LeftMenu2,
.LeftMenu4 {
  padding: 5px;
}
.LeftMenu4 {
  text-align: center;
}

.AlbumMenu2 {
  justify-content: center;
  text-align: center;
}

.slider4 {
  height: 700px;
  margin-left: 70px;
}

.slider {
  height: 400px;
}

.Home2Container {
  position: relative;
  text-align: center;
  color: white;
  filter: grayscale(100%);
}

.Home2Container:hover {
  filter: grayscale(0%);
}

.Home2Container:hover .Home2Text {
  opacity: 0.7;
}

.Home2Text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 50px;
  opacity: 0;
  color: white;
}

.Home2Text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 50px;
  opacity: 0;
  color: white;
}

.container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.containerVertical {
  overflow-y: hidden;
  overflow-x: scroll;
}

.sliderVertical {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  white-space: nowrap;
  margin-left: -60px;
}

.sticky {
  color: rgb(243, 10, 10);
  position: -webkit-sticky;
  position: fixed;
  top: 50px;
  margin-left: 20px;
  margin-top: 200px;
  opacity: 0.8;
  min-height: 100vh;
  background-attachment: initial;
}

.stickyMenu {
  color: rgb(255, 255, 255);
  margin-left: 100px;
  margin-top: 20px;
  font-size: 30pt;
  z-index: 3;
  position: absolute;
  opacity: 0.8;
}

.stickyMenuCol {
  padding-left: 20px;
}

.HomeImage1 {
  height: 200px;
  margin: 20px;
}

.HomeImage3 {
  height: 100px;
  margin: 20px;
  margin-left: -10px;
}

.container1 {
  overflow-y: scroll;
  overflow-x: hidden;
}

.container3 {
  overflow-y: scroll;
  overflow-x: hidden;
}

.ShiftedRow1 {
}

.ShiftedRow2 {
  padding-left: 110px;
}
